n8n_workflow.json
{
  "name": "LevelUP Sprint AI Risk Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "levelup",
        "options": {}
      },
      "id": "e98e2fd5-7389-43c2-87a3-cb2b8fa58893",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        360
      ]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "options": {}
      },
      "id": "c1f7b0a7-bc5b-43fe-a8be-fa204e3bb07d",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        500
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gemini-api-key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite agile project manager and risk assessor AI. Analyze the following sprint metrics:\n\nSprint ID: {{ $json.body.sprintId }}\nSprint Name: {{ $json.body.sprintName }}\nPlanned Points: {{ $json.body.plannedPoints }}\nCompleted Points: {{ $json.body.completedPoints }}\nVelocity Ratio: {{ $json.body.velocityRatio }}\nHealth Score: {{ $json.body.healthScore }}\nWorkload: {{ JSON.stringify($json.body.workloads) }}\n\nGenerate structured insights for the team. Return exactly a JSON object (no markdown, no backticks, just raw JSON) with the following structure:\n{\n  \"sprintId\": {{ $json.body.sprintId }},\n  \"predictiveRisk\": \"Write a clear predictive risk alert outlining if they are on track to finish the sprint objective.\",\n  \"reassignmentSuggestions\": \"Suggest transferring specific tasks from overloaded members to underloaded members to optimize delivery.\",\n  \"historicalPatterns\": \"Identify bottlenecks or patterns like high review hours, capacity mismatch, or lagging completion ratios.\"\n}",
        "options": {
          "systemMessage": "You are a professional Agile Scrum Master and Sprint Coach. Always reply in strict JSON format as requested. Do not include markdown codeblocks in your response."
        }
      },
      "id": "761665a3-7fa5-4702-8610-d09f7b0e1189",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        460,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/ai/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "rawBody",
        "rawContentType": "application/json",
        "body": "={{ $json.output }}",
        "options": {}
      },
      "id": "0172e2bc-cb7d-472e-836e-ea78b871c503",
      "name": "HTTP Request Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        360
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "levelup-sprint-ai-risk-engine",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": true
}
